body, canvas, h1 {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  padding: 0px;
	text-align: center;
  font-family: courier;
  color: white;
  background: black;
}
canvas {
  background-image: url("../assets/m13.jpg");
  background-size: cover;
  border: 3px solid white;
  border-radius: 5px;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}
