<div class="col-xs-6">
<form action="<%= comments_url %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[photo_id]" value="<%= @photo_id %>">

  <label for="comment_content">Comment:</label>
  <textarea id="comment_content" name="comment[content]"></textarea>

  <button>SUBMIT</button>
</form>
</div>
